body {
    font-family: 'Press Start 2P', cursive;
    background-color: #000; /* Dark background */
    color: #32CD32; /* Neon green text */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    min-height: 100vh;
}
/* Header Styles */

.header {
    width: 100%;
    text-align: center;
    background-color: #212529; /* Dark background for header */
    padding: 20px 0;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(32, 205, 50, 0.6); /* Glowing effect */
}

.header h1 {
    color: #32CD32; /* Neon green text */
    margin: 0;
    padding: 0;
    font-size: 2em;
}

.container {
    width: 90%;
    max-width: 600px;
    padding: 15px;
    margin: 10px auto;
    background-color: #212529; /* Dark background for container */
    border: 2px solid #00FFFF; /* Neon blue border */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 255, 255, 0.6); /* Glowing effect */
}
/* Label and Select Dropdown Styles */
label {
    color: #32CD32; /* Neon green color */
    display: block;
    margin: 10px 0;
}
.select {
    width: 100%;
    padding: 5px;
    background-color: #343A40;
    color: #00FFFF; /* Neon blue text */
    border: 1px solid #32CD32; /* Neon green border */
    border-radius: 5px;
    margin-bottom: 15px;
}
/* Button Styles */
.button {
    padding: 10px;
    background-color: #32CD32; /* Neon green background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
}
.button:hover {
    background-color: #28A745; /* Different shade on hover */
}

.button:hover {
    background-color: #28A745; /* Different shade on hover */
}
/* Timer, Question, and Score Display Styles */
#timerDisplay, #questionList2, #scoreDisplay {
    color: #00FFFF; /* Neon blue text */
    margin: 10px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

}